.app{
  width: 100%;
}

.table{

  max-width:calc( 50px * 4 );
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto;

  background: rgb(223, 223, 223);
  border-radius: 5px;
}

.row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.controls{
  width:160px;
  margin: 0 auto;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 40px;
  height: 40px;

  margin: 5px;

  background: rgb(183, 183, 183);
  border-radius: 5px;
}


